.upload-file{
    display:inline-block;
    margin-right:5px;
}

.upload-select-file a{
    margin-top:10px;
}

.contents-body .form-table .upload-select-file .select-image{
    max-width:300px;
}

.upload-select-file .iteminfo{
    margin-top:5px;
}

.upload-file-open{
    padding:2px 5px;
}

.upload-file-delete{
    margin-left:10px;
    display:inline-block;
    padding:2px 10px;
    border:1px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
}

.upload-select-file .iteminfo{
    margin-top:10px;
    font-size:1.5em;
}

.upload-select-file .iteminfo-path{
    margin-right: 15px;
}

.colpick{
    z-index:10;
}

.editor-toolbar.fullscreen,
.CodeMirror-fullscreen{
    z-index:200
}

.table-title-before,
.label-before,
.input-before,
.table-title-after,
.table-after{
    margin-bottom:5px;
}
.label-after,
.input-after{
    margin-top:5px;
}

/* 旧テーマ用指定 */
.addConfigItem.section .table-title-before{
    margin-bottom:15px;
}
.contents-body.section .addConfigItem .form-table{
    margin-bottom:15px;
}
.addConfigItem.section:nth-of-type(n + 1){
    margin-top:30px;
}
.addConfigItem.section .table-title .button-small{
    position: relative;
    width: 1.3em;
    height: 1.2em;
    margin-left: 0.5em;
    padding: 0.1em;
}
.addConfigItem.section .table-title .button-small:before{
    content: "";
    position: absolute;
    left: 5px;
    top: 2px;
    transition: all 0.2s ease-in-out;
    display: block;
    width: 8px;
    height: 8px;
    border-top: solid 2px #999;
    border-right: solid 2px #999;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}
.addConfigItem.section .bca-collapse{
    display:none;
}
.addConfigItem.section .table-title .button-small[data-bca-state="open"]:before{
    left: 5px;
    top: 7px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

/* 新テーマ用指定 */
.addConfigItem.bca-section .table-title-after{
    margin-top:5px;
}